[project]
	description = SkyProc patcher to attach any race-specific meshes found to base armours, so that each race can have a different armour model.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Martin Rudat (mrudat)
[access "refs/for/refs/*"]
	read = group user/Martin Rudat (mrudat)
	push = group user/Martin Rudat (mrudat)
	label-Code-Review = -2..+2 group user/Martin Rudat (mrudat)
	label-Verified = -1..+1 group user/Martin Rudat (mrudat)
	rebase = group user/Martin Rudat (mrudat)
	removeReviewer = group user/Martin Rudat (mrudat)
	submit = group user/Martin Rudat (mrudat)
[access "refs/heads/*"]
	read = group user/Martin Rudat (mrudat)
	create = group user/Martin Rudat (mrudat)
	push = +force group user/Martin Rudat (mrudat)
	pushMerge = group user/Martin Rudat (mrudat)
[access "refs/tags/*"]
	push = +force group user/Martin Rudat (mrudat)
	pushTag = group user/Martin Rudat (mrudat)
	pushSignedTag = group user/Martin Rudat (mrudat)
